body {
  background-color: gray;
}
.headcontent {
  height: 75px;
  width:800px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: teal;
  border: solid;
  border-width: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.col-1-3 {
  background-color: green;
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  border: solid;
  border-radius: 5px;
}
#left {
  margin-left: 60px;
  margin-right: 0px;
}
#middle {
  margin-left: 3px;
  margin-right: 3px;
}
#right {
  margin-left: 0px;
  margin-right: 60px;
}
.container {
  height: 100%;
  width: 100%;
}
#footer {
  height: 75px;
  width:800px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: teal;
  border: solid;
  border-width: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
p {
  float: right;
  margin-top: -30px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 1.2em;
}
li {
  font-weight: bold;
}
#instructions {
  font-size: 1em;
  float: right;
  margin-top: 10px;
}
#footbutton1 {
  margin-left:20px;
  margin-top:10px;
}
#footbutton2 {
  margin-left: 20px;
  margin-top: 15px;
}
